<a href="https://colab.research.google.com/github/Nurlyssultan/ML-DS-Cheat-Sheet/blob/main/Python_Cheat_Sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Cheat Sheet
### Python was named for the British comedy troupe Monty Python.

[Another Python Cheat Sheet](https://github.com/gto76/python-cheatsheet)

# Installation Python in Apple Macbook
## Installing Homebrew
#### `/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`

##Install Python
`brew install python`

`brew install openssl readline sqlite3 xz zlib`

`brew install pyenv`

`python versions`

#### `install latest`
#### `pyenv install 3.11.1`
#### `pyenv global 3.11.1`
#### `pyenv versions`
#### `close terminal`
#### `python`
#### `pipenv --python 3.11.1 install`

# Virtual environment

## Installation virtual environment to pc (Macbook) -> `venv`

`python3 -m pip install virtualenv`

## Creation of venv and activation by Terminal

### Choose a location for your virtual environment. This can be any directory on your computer.

`mkdir new-python-project`
`cd new-python-project`

### Creating a python file
`touch run.py`

### Creating a venv in project directory
`python3 -m venv my_venv`

### Activate your virtual environment
`source my_venv/bin/activate`

### Deactivate your virtual environment
`deactivate`

### Checking the version of python and pip
#### `which python`
#### `which pip`

### Running of a python file
`python run.py`

###  Copies all packages currently installed into the file
#### `pip freeze > requirements.txt`
#### `pip install -r requirements.txt`

### Working with Git -> Python project
#### `git clone https://github.com/username/your-awesome-code.git`
#### `cd your-awesome-code`
#### `source venv/bin/activate`
#### `pip install -r requirements.txt`
#### `python run.py`

# Numbers
## Python's main types for Numbers is int and float (or integers and floating point numbers)

## Type

In [48]:
type(None)# NoneType
type(1)   # int
type(-10) # int
type(0)   # int
type(0.0) # float
type(2.2) # float
type(4E2) # float - 4*10 to the power of 2

float

## Arithmetic

In [2]:
# Arithmetic
10 + 3  # 13
10 - 3  # 7
10 * 3  # 30
10 ** 3 # 1000
10 / 3  # 3.3333333333333335
10 // 3 # 3 --> floor division - no decimals and returns an int
10 % 3  # 1 --> modulo operator - return the reminder. Good for deciding if number is even or odd
2 ** 3  # 8 --> power

8

## Basic Functions

In [3]:
# Basic Functions
pow(5, 2)      # 25 --> like doing 5**2
abs(-50)       # 50
round(5.46)    # 5
round(5.468, 2)# 5.47 --> round to nth digit
bin(512)       # '0b1000000000' -->  binary format
hex(512)       # '0x200' --> hexadecimal format
int(0x200)     # back to int format

512

## Converting Strings to Numbers

In [49]:
# Converting Strings to Numbers
age = input("How old are you?")
age = int(age)
pi = input("What is the value of pi?")
pi = float(pi)
pi

How old are you?78
What is the value of pi?3.14

3.14

In [5]:
ac, bc = 14, '24'
ab = bb = '25'

# Strings

### strings in python are stored as sequences of letters in memory

In [10]:
type('Hellloooooo') # str

'I\'m thirsty' # special character
"I'm thirsty"
"\n" # new line
"\t" # adds a tab

print('123456\n7890')

'Hey you!'[4] # y
name = 'Nurlyssultan'
name[4]     # y
# Slicing creates a substring from extracting elements from string
name[:]     # Nurlyssultan
name[1:]    # urlyssultan
name[:1]    # N
name[-1]    # n
name[::1]   # Nurlyssultan
name[::-1]  # natlussylruN
name[0:10:2]# Nrysl
# : is called slicing and has the format [ start : end : step ]

'Hi there ' + 'Timmy' # 'Hi there Timmy' --> This is called string concatenation
'*'*10 # **********

123456
7890

'**********'

## Basic Methods

In [50]:
# Basic Methods
'  I am alone '.strip()               # 'I am alone' --> Strips all whitespace characters from both ends.
'On an island'.strip('d')             # 'On an islan' --> # Strips all passed characters from both ends.
'but life is good!'.split()           # ['but', 'life', 'is', 'good!']
'Help me'.replace('me', 'you')        # 'Help you' --> Replaces first with second param
'Need to make fire'.startswith('Need')# True
'and cook rice'.endswith('rice')      # True
'still there?'.upper()                # STILL THERE?
'HELLO?!'.lower()                     # hello?!
'ok, I am done.'.capitalize()         # 'Ok, I am done.'
'oh hi there'.count('e')              # 2
'bye bye'.index('e')                  # 2
'oh hi there'.find('i')               # 4 --> returns the starting index position of the first occurrence
'oh hi there'.find('a')               # -1
'oh hi therea'.index('a')             # Raises ValueError
'hello World'.upper()                 #'HELLO WORLD'
"123".isdigit()                       # True  check str for all chars are digits
'hello world'.capitalize()            #'Hello world'
'abcd'.isalpha()                      #False  #check str for all chars are letters
'a ' in 'Aa '                         # Condition statement use

True

## String Formatting

In [52]:
# String Formatting
name1 = 'Nurs'
name2 = 'Sunny'
print(f'Hello there {name1} and {name2}')       # Hello there Andrei and Sunny - Newer way to do things as of python 3.6
print('Hello there {} and {}'.format(name1, name2))# Hello there Andrei and Sunny
print('Hello there %s and %s' %(name1, name2))  # Hello there Andrei and Sunny --> you can also use %d, %f, %r for integers, floats, string representations of objects respectively
print('Hello World {a} {b}'.format(a='asd',b='bsd'))
result = 10111.564971751
print('The result is {r:1.4f}'.format(r=result))

Hello there Nurs and Sunny
Hello there Nurs and Sunny
Hello there Nurs and Sunny
Hello World asd bsd
The result is 10111.5650

## Palindrome check

In [53]:
# Palindrome check
word = 'reviver'
p = bool(word.find(word[::-1]) + 1)
print(p) # True

True

# Mutable vs immutable objects

In [16]:
# identity - id - never changes one it has been created, objects address in memory of RAM
# the is operator compares the identity of two objects
# mutable objects: list, dictionary, set and user-defined classes
# immutable objects: int, float, decimal, bool,string,tuple and range
# List vs Tuples
print('List vs Tuples')
t = (1,2,3) # t[0] = 0 won't work because it is ummutable
s = [1,2,3]
print(t)
print(id(t))
print(id(s))
t += (4,5)
s += [4,5]
print(id(t)) # id is changed
print(id(s)) # id won't change in that case
# int
print('int')
i = 45
print(id(i))
i += 1
print(id(i))
# String
print('String')
text = 'abc'
text2 = "abc"
print(id(text))
print(id(text2))
print(text is text2)
text += 'd'
print(id(text))
print(id(text2))
print(text is text2)

List vs Tuples
(1, 2, 3)
138035720286976
138035719964544
138036008754992
138035719964544
int
138036149651056
138036149651088
String
138036148457712
138036148457712
True
138035736009712
138036148457712
False

# Boolean
### True or False. Used in a lot of comparison and logical operations in Python

In [54]:
bool(True)
bool(False)

False

##Falsy

In [55]:
#Falsy
# all of the below evaluate to False. Everything else will evaluate to True in Python.
print(bool(None))
print(bool(False))
print(bool(0))
print(bool(0.0))
print(bool([]))
print(bool({}))
print(bool(()))
print(bool(''))
print(bool(range(0)))
print(bool(set()))

# See Logical Operators and Comparison Operators section for more on booleans.

False
False
False
False
False
False
False
False
False
False

In [56]:
### Checking the presence of the 'word' in string object
x = 'Hello'
if 'ell' in x:
    print('found')
print(x.find('ell'))

found
1

# Lists

### Unlike strings, lists are mutable sequences in python

In [57]:
my_list = [1, 2, '3', True]# We assume this list won't mutate for each example below
len(my_list)               # 4
my_list.index('3')         # 2
my_list.count(2)           # 1 --> count how many times 2 appears

# : is called slicing and has the format [ start : end : step ]

my_list[3]                 # True
my_list[1:]                # [2, '3', True]
my_list[:1]                # [1]
my_list[-1]                # True
my_list[::1]               # [1, 2, '3', True]
my_list[::-1]              # [True, '3', 2, 1]
my_list[0:3:2]             # [1, '3']

[1, '3']

## Add to List

In [60]:
# Add to List
my_list * 2                # [1, 2, '3', True, 1, 2, '3', True]
my_list + [100]            # [1, 2, '3', True, 100] --> doesn't mutate original list, creates new one
my_list.append(100)        # None --> Mutates original list to [1, 2, '3', True, 100]          # Or: <list> += [<el>]
my_list.extend([100, 200]) # None --> Mutates original list to [1, 2, '3', True, 100, 200]
my_list.insert(2, '!!!')   # None -->  [1, 2, '!!!', '3', True] - Inserts item at index and moves the rest to the right.

' '.join(['Hello','There','G'])# 'Hello There' --> Joins elements using string as separator.

'Hello There G'

## Copy a List

In [59]:
# Copy a List
basket = ['apples', 'pears', 'oranges']
new_basket = basket.copy()
new_basket2 = basket[:]
new_basket2

['apples', 'pears', 'oranges']

## Remove from List

In [61]:
# Remove from List
[1,2,3].pop()    # 3 --> mutates original list, default index in the pop method is -1 (the last item)
[1,2,3].pop(1)   # 2 --> mutates original list
[1,2,3].remove(2)# None --> [1,3] Removes first occurrence of item or raises ValueError.
[1,2,3].clear()  # None --> mutates original list and removes all items: []
del [1,2,3][0]   # None --> removes item on index 0 or raises IndexError

## Ordering

In [62]:
# Ordering
[1,2,5,3].sort()         # None --> Mutates list to [1, 2, 3, 5]
[1,2,5,3].sort(reverse=True) # None --> Mutates list to [5, 3, 2, 1]
[1,2,5,3].reverse()      # None --> Mutates list to a reverse lsit with result [3, 5, 2, 1]
sorted([1,2,5,3])        # [1, 2, 3, 5] --> new list created
my_list = [(4,1),(2,4),(2,5),(1,6),(8,9)]
sorted(my_list,key=lambda x: int(x[0])) # [(1, 6), (2, 4), (2, 5), (4, 1), (8, 9)] --> sort the list by 1st (0th index) value of the tuple
list(reversed([1,2,5,3]))# [3, 5, 2, 1] --> reversed() returns an iterator

[3, 5, 2, 1]

## Useful operations

In [63]:
# Useful operations
1 in [1,2,5,3]  # True
min([1,2,3,4,5])# 1
max([1,2,3,4,5])# 5
sum([1,2,3,4,5])# 15

15

In [9]:
# Get First and Last element of a list
mList = [63, 21, 30, 14, 35, 26, 77, 18, 49, 10]
first, *x, last = mList
print(first) #63
print(last) #10

63
10

In [10]:
for i in [1,2,3,4,5]:
    print(i, end=',')

1,2,3,4,5,

## Matrix

In [11]:
# Matrix
matrix = [[1,2,3], [4,5,6], [7,8,9]]
matrix[2][0] # 7 --> Grab first first of the third item in the matrix object

# Looping through a matrix by rows:
mx = [[1,2,3],[4,5,6]]
for row in range(len(mx)):
	for col in range(len(mx[0])):
		print(mx[row][col]) # 1 2 3 4 5 6

# Transform into a list:
[mx[row][col] for row in range(len(mx)) for col in range(len(mx[0]))] # [1,2,3,4,5,6]

# Combine columns with zip and *:
[x for x in zip(*mx)] # [(1, 3), (2, 4)]

1
2
3
4
5
6

[(1, 4), (2, 5), (3, 6)]

## List Comprehensions

In [64]:
# List Comprehensions
# new_list[<action> for <item> in <iterator> if <some condition>]
# <list> = [i+1 for i in range(10)]         # [1, 2, ..., 10]
# <set>  = {i for i in range(10) if i > 5}  # {6, 7, 8, 9}
# <iter> = (i+5 for i in range(10))         # (5, 6, ..., 14)
# <dict> = {i: i*2 for i in range(10)}      # {0: 0, 1: 2, ..., 9: 18}
a = [i for i in 'hello']                  # ['h', 'e', 'l', 'l', '0']
b = [i*2 for i in [1,2,3]]                # [2, 4, 6]
c = [i for i in range(0,10) if i % 2 == 0]# [0, 2, 4, 6, 8]
# List Comprehension = a way to create a new list with less syntax can mimic certain lambda functions, easier to read
listd = [0, 1, 2, 3, 4, 5]
listr = [listElement for listElement in listd]
listm = [charElement.upper() for charElement in 'word']
listr = [num for num in range(0,10) if num % 2 == 0]
listm = [ num if num % 2 == 0 else 'ODD' for num in range(0,10)]
listm

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

## Advanced Functions

In [65]:
# Advanced Functions
list_of_chars = list('Helloooo')                                   # ['H', 'e', 'l', 'l', 'o', 'o', 'o', 'o']
sum_of_elements = sum([1,2,3,4,5])                                 # 15
element_sum = [sum(pair) for pair in zip([1,2,3],[4,5,6])]         # [5, 7, 9]
sorted_by_second = sorted(['hi','you','man'], key=lambda el: el[1])# ['man', 'hi', 'you']
sorted_by_key = sorted([
                       {'name': 'Bina', 'age': 30},
                       {'name':'Andy', 'age': 18},
                       {'name': 'Zoey', 'age': 55}],
                       key=lambda el: (el['name']))# [{'name': 'Andy', 'age': 18}, {'name': 'Bina', 'age': 30}, {'name': 'Zoey', 'age': 55}]

# Dictionaries

### Also known as mappings or hash tables. They are key value pairs that are guaranteed to retain order of insertion starting from Python 3.7

In [66]:
my_dict = {'name': 'Nurs', 'age': 30, 'magic_power': False}
my_dict['name']                      # Nurs
len(my_dict)                         # 3
list(my_dict.keys())                 # ['name', 'age', 'magic_power']
list(my_dict.values())               # ['Nurs', 30, False]
list(my_dict.items())                # [('name', 'Nurs'), ('age', 30), ('magic_power', False)]
my_dict['favourite_snack'] = 'Grapes'# {'name': 'Nurs', 'age': 30, 'magic_power': False, 'favourite_snack': 'Grapes'}
my_dict.get('age')                   # 30 --> Returns None if key does not exist.
my_dict.get('ages', 0)              # 0 --> Returns default (2nd param) if key is not found

#Remove key
del my_dict['name']
my_dict.pop('name', None)

In [67]:
my_dict.update({'cool': True})                                         # {'name': 'Nurs', 'age': 30, 'magic_power': False, 'favourite_snack': 'Grapes', 'cool': True}
{**my_dict, **{'cool': True} }                                         # {'name': 'Nurs', 'age': 30, 'magic_power': False, 'favourite_snack': 'Grapes', 'cool': True}
new_dict = dict([['name','Nurs'],['age',30],['magic_power',False]])  # Creates a dict from collection of key-value pairs.
new_dict = dict(zip(['name','age','magic_power'],['Nurs',30, False]))# Creates a dict from two collections.
new_dict = my_dict.pop('favourite_snack')

## Dictionary Comprehension

In [68]:
# Dictionary Comprehension
# create dictionaries using an expression
# can replace for loop and certain lambda function
#dictionaries = {key: expression for (key,value) in iterable}
import math
f = { 'N': 32, 'Y' : 56, 'Z':101}
c =  {key + '!' : math.floor((value-32) * 5 / 9) for (key,value) in f.items()}
c
cities_weather = {'NY' : 'snowing', 'Astana': 'cloudy', 'Taraz' : 'sunny', 'Shymkent' : 'sunny'}
sunny_cities = {key : value for (key,value) in cities_weather.items() if value == 'sunny'}
sunny_cities

{'Taraz': 'sunny', 'Shymkent': 'sunny'}

# Tuples

### Like lists, but they are used for immutable thing (that don't change)

In [69]:
my_tuple = ('apple','grapes','mango', 'grapes')
apple, grapes, mango, grapes = my_tuple# Tuple unpacking
len(my_tuple)                          # 4
my_tuple[2]                            # mango
my_tuple[-1]                           # 'grapes'

'grapes'

## Immutability

In [70]:
# Immutability
my_tuple[1] = 'donuts'  # TypeError
my_tuple.append('candy')# AttributeError

TypeError: 'tuple' object does not support item assignment

# Methods

In [71]:
# Methods
my_tuple.index('grapes') # 1
my_tuple.count('grapes') # 2

2

## Zip

In [20]:
# Zip
list(zip([1,2,3], [4,5,6])) # [(1, 4), (2, 5), (3, 6)]

[(1, 4), (2, 5), (3, 6)]

### unzip

In [21]:
# unzip
z = [(1, 2), (3, 4), (5, 6), (7, 8)] # Some output of zip() function
unzip = lambda z: list(zip(*z))
unzip(z)

[(1, 3, 5, 7), (2, 4, 6, 8)]

## Map

In [72]:
# Map
res = list(map(lambda x: x+3, [1,2,3,4,5]))
res

[4, 5, 6, 7, 8]

## Filter

In [73]:
# Filter

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def is_even(number):
  return number % 2 == 0

even_numbers = list(filter(is_even, numbers))

print(even_numbers)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

## Reduce

In [74]:
# Reduce

from functools import reduce

numbers = [1, 2, 3, 4, 5]

sum_of_numbers = reduce(lambda x, y: x + y, numbers)

print(sum_of_numbers)  # Output: 15

15

# Sets

### Unordered collection of unique elements.

In [75]:
my_set = set()
my_set.add(1)  # {1}
my_set.add(100)# {1, 100}
my_set.add(100)# {1, 100} --> no duplicates!

In [76]:
new_list = [1,2,3,3,3,4,4,5,6,1]
set(new_list)           # {1, 2, 3, 4, 5, 6}

my_set.remove(100)      # {1} --> Raises KeyError if element not found
my_set.discard(100)     # {1} --> Doesn't raise an error if element not found
my_set.clear()          # {}
new_set = {1,2,3}.copy()# {1,2,3}

In [77]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.union(set2)               # {1,2,3,4,5}
set4 = set1.intersection(set2)        # {3}
set5 = set1.difference(set2)          # {1, 2}
set6 = set1.symmetric_difference(set2)# {1, 2, 4, 5}
set1.issubset(set2)                   # False
set1.issuperset(set2)                 # False
set1.isdisjoint(set2)                 # False --> return True if two sets have a null intersection.

False

# Loops

In [78]:
# Loops
my_list = [1,2,3]
my_tuple = (1,2,3)
my_list2 = [(1,2), (3,4), (5,6)]
my_dict = {'a': 1, 'b': 2, 'c': 3}

for num in my_list:
    print(num) # 1, 2, 3

for num in my_tuple:
    print(num) # 1, 2, 3

for num in my_list2:
    print(num) # (1,2), (3,4), (5,6)

for num in '123':
    print(num) # 1, 2, 3

for idx,value in enumerate(my_list):
    print(idx) # get the index of the item
    print(value) # get the value

for k,v in my_dict.items(): # Dictionary Unpacking
    print(k) # 'a', 'b', 'c'
    print(v) # 1, 2, 3

i = 0
while i < 5:
    print(i)
    i = i + 1

# while <condition that evaluates to boolean>:
  # action
  # if <condition that evaluates to boolean>:
    # break # break out of while loop
  # if <condition that evaluates to boolean>:
    # continue # continue to the next line in the block

1
2
3
1
2
3
(1, 2)
(3, 4)
(5, 6)
1
2
3
0
1
1
2
2
3
a
1
b
2
c
3
0
1
2
3
4

# Walrus

In [79]:
# waiting until user quits with walrus
msg = ''
while msg := input('What should I do?') != 'quit':
    print(msg)

What should I do?
True
What should I do?
True
What should I do?quit

# Range

In [80]:
#Range
range(10)          # range(0, 10) --> 0 to 9
range(1,10)        # range(1, 10)
list(range(0,10,2))# [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

# Counter

In [81]:
#Counter
from collections import Counter
colors = ['red', 'blue', 'yellow', 'blue', 'red', 'blue']
counter = Counter(colors)# Counter({'blue': 3, 'red': 2, 'yellow': 1})
counter.most_common()[0] # ('blue', 3)

('blue', 3)

# Named Tuple

### * Tuple is an immutable and hashable list.
### * Named tuple is its subclass with named elements.

In [82]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')
p = Point(1, y=2)# Point(x=1, y=2)
p[0]             # 1
p.x              # 1
getattr(p, 'y')  # 2
p._fields        # Or: Point._fields #('x', 'y')

('x', 'y')

In [83]:
from collections import namedtuple
Person = namedtuple('Person', 'name height')
person = Person('Jean-Luc', 187)
f'{person.height}'           # '187'
'{p.height}'.format(p=person)# '187'

'187'

# Ordered Dictionary

In [84]:
#OrderedDict

#Maintains order of insertion
from collections import OrderedDict
# Store each person's languages, keeping # track of who responded first.
programmers = OrderedDict()
programmers['Tim'] = ['python', 'javascript']
programmers['Sarah'] = ['C++']
programmers['Bia'] = ['Ruby', 'Python', 'Go']

for name, langs in programmers.items():
    print(name + '-->')
    for lang in langs:
        print('\t' + lang)

Tim-->
	python
	javascript
Sarah-->
	C++
Bia-->
	Ruby
	Python
	Go

# Functions

### *args and **kwargs

### Splat (*) expands a collection into positional arguments, while splatty-splat (**) expands a dictionary into keyword arguments.

In [85]:
args   = (1, 2)
kwargs = {'x': 3, 'y': 4, 'z': 5}
#some_func(*args, **kwargs) # same as some_func(1, 2, x=3, y=4, z=5)
def add(*a):
    return sum(a)

add(1, 2, 3) # 6

6

In [86]:
def myfunc1(*args, **kwargs):
    print('I need a kwargs for myself {a} and {b}'.format(a=args[0],b=kwargs['food']))
    print(args)
    print(kwargs)
myfunc1(1,2,3,4,food='eggs',fruit='apple')

I need a kwargs for myself 1 and eggs
(1, 2, 3, 4)
{'food': 'eggs', 'fruit': 'apple'}

# Ternary Condition

In [87]:
#Ternary Condition

# <expression_if_true> if <condition> else <expression_if_false>

[a if a else 'zero' for a in [0, 1, 0, 3]] # ['zero', 1, 'zero', 3]

['zero', 1, 'zero', 3]

# Lambda

In [88]:
#lambda = function written in 1 line of code
# lambda parameters: expression
# Fibonacci
fib = lambda n : n if n <= 1 else fib(n-1) + fib(n-2)
result = fib(10)
print(result) #55

# Factorial
from functools import reduce

n = 3
factorial = reduce(lambda x, y: x*y, range(1, n+1))
print(factorial) #6

55
6

# Error Handling

In [89]:
# Error Handling
#Exceptions
try:
    print(1/0)
except ZeroDivisionError:
    print('You did something wrong')
except Exception as e:
    raise e

try:
    print(asdasd)
except NameError:
    print('Wow wow')
try:
    a = 5/0
except ZeroDivisionError:
    print("No division by zero!")
while True:
    try:
        x = int(input('Enter your age: '))
    except ValueError:
        print('Oops!  That was no valid number.  Try again...')
    else: # code that depends on the try block running successfully should be placed in the else block.
        print('Carry on!')
    break
try:
    raise KeyboardInterrupt
except:
    print('oops')
finally:
    print('All done!')

You did something wrong
Wow wow
No division by zero!
Enter your age: rt
Oops!  That was no valid number.  Try again...
oops
All done!

# Closures

In [91]:
#Closures

#We have a closure in Python when:
#A nested function references a value of its enclosing function and then
#the enclosing function returns the nested function.
def get_multiplier(a):
    def out(b):
        return a * b
    return out
multiply_by_3 = get_multiplier(3)
multiply_by_3(10)

#If multiple nested functions within enclosing function reference the same value, that value gets shared.
#To dynamically access function's first free variable use '<function>.__closure__[0].cell_contents'.

30

#Scope

In [92]:
#Scope

#If variable is being assigned to anywhere in the scope, it is regarded as a local variable, unless it is declared as a 'global' or a 'nonlocal'.

def get_counter():
    i = 0
    def out():
        nonlocal i
        i += 1
        return i
    return out
counter = get_counter()
counter(), counter(), counter()

(1, 2, 3)

# Modules

In [93]:
#Modules
def main():
    print('ASD')
if __name__ == '__main__': # Runs main() if file wasn't imported.
    main()

ASD

#Generators

In [94]:
#Generators

#Convenient way to implement the iterator protocol.

def count(start, step):
    while True:
        yield start
        start += step

counter = count(10, 2)
next(counter), next(counter), next(counter)

(10, 12, 14)

In [95]:
# Generator by Myself

def listCheckGenerator(num):
    listCheck = [4,4324,235,23,4,32,23,5,234,25,3,235,23,52,3234,523,21,34,23,52,35]
    for i in listCheck:
        yield i == num

listCheck = listCheckGenerator(234)
while True:
    if next(listCheck):
        print('Found')
        break
    else:
        print('Not Found')

Not Found
Not Found
Not Found
Not Found
Not Found
Not Found
Not Found
Not Found
Found

## Fibonacci numbers in generators

In [96]:
# Fibonacci numbers in generators
# lets create generator for fibonacci

def fibonacci():
    i = 0
    n = 1
    while True:
        yield i
        m = n
        n = n + i
        i = m

fib = fibonacci()
print(next(fib))
print(next(fib))
print(next(fib))
print(next(fib))

0
1
1
2

#Decorators

In [106]:
#Decorators

#A decorator takes a function, adds some functionality and returns it.

#def function_that_gets_passed_to_decorator():
#    pass
#Example Decorator: timing performance using a decorator.

#The functools decorator @functools.wraps is used to maintain function naming and documentation of the function within the decorator.
from time import time
import functools

def performance(func):
    def wrapper(*args, **kwargs):
        t1 = time()
        result = func(*args, **kwargs)
        t2 = time()
        print(f"Took: {t2 - t1} ms")
        return result
    return wrapper

# calling a function with the decorator
@performance
def long_time():
    print(sum(i*i for i in range(10000000)))

long_time()

333333283333335000000
Took: 1.6431183815002441 ms

In [107]:
user1 = {
    'name': 'Sorna',
    'valid': True #changing this will either run or not run the message_friends function.
}
user1.get('name')
user1.get('valid')

True

In [108]:
# Create an @authenticated decorator that only allows the function to run is user1 has 'valid' set to True:
user1 = {
    'name': 'Sorna',
    'valid': False #changing this will either run or not run the message_friends function.
}

def authenticated(fn):
    def check_user(*args,**kwargs):
        print('Start checking in user list')
        if args[0].get('valid'):
            print('Auth pass')
            return fn(*args,**kwargs)
        else:
          print('No pass by Auth for {}'.format(args[0].get('name')))
    return check_user

@authenticated
def message_friends(user):
    print('message has been sent')

message_friends(user1)

Start checking in user list
No pass by Auth for Sorna

# Regular Expressions

In [109]:
# Regular Expressions
# regex101.com
import re
search = re.compile(r"[A-Z]")

import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

pattern = r"^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
re.search(pattern, 'hello@uibakery.io.') # Returns None
re.search(pattern, 'hello@192.168.0.1') # Returns <re.Match object; span=(0, 17), match='hello@192.168.0.1'>

[]
Spain

# Unit testing

In [112]:
# Unit testing
# for becoming a senior developer
import unittest

class TestMain(unittest.TestCase):
    def setUp(self):
        print('ASDASD ASD ASD ASRSDFSD')
    def test_to_do(self):
        test_param = 10
        result = main.add5(test_param)
        self.assertEqual(result,15)
    def test_to_do2(self):
        test_param = 'asdasd'
        result = main.add5(test_param)
        self.assertIsInstance(result,ValueError)
    def test_to_do3(self):
        test_param = None
        result = main.add5(test_param)
        self.assertEqual(result,'please enter the number')
    def test_to_do4(self):
        test_param = ''
        result = main.add5(test_param)
        self.assertEqual(result,'please enter the number')
if __name__ == '__main__':
    unittest.main()
#python -m unittest

E
======================================================================
ERROR: /root/ (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute '/root/'

----------------------------------------------------------------------
Ran 1 test in 0.005s

FAILED (errors=1)

SystemExit: True

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

#Debugger

In [113]:
#Debugger Example

#Decorator that prints function's name every time it gets called.

from functools import wraps

def debug(func):
    @wraps(func)
    def out(*args, **kwargs):
        print(func.__name__)
        return func(*args, **kwargs)
    return out

@debug
def add(x, y):
    return x + y
#Wraps is a helper decorator that copies metadata of function add() to function out().
#Without it 'add.__name__' would return 'out'.

# File usage

In [115]:
%%writefile myfile.txt
Hello this is a text file
THis is the next line
asd asdlmfdskfm dfljgsdg sdg

Overwriting myfile.txt

In [116]:
myfile = open('myfile.txt')
with open('myfile.txt','r',encoding='utf-8') as myfile:
    read_file = myfile.read()
read_file

'Hello this is a text file\nTHis is the next line \nasd asdlmfdskfm dfljgsdg sdg\n'

In [117]:
with open('myfile.txt', mode='a',encoding='utf-8') as f:
    f.write('Malikanakrarerere\n')

In [118]:
#CSV

import csv
#Read Rows from CSV File

def read_csv_file(filename):
    with open(filename, encoding='utf-8') as file:
        return csv.reader(file, delimiter=';')
#Write Rows to CSV File

def write_to_csv_file(filename, rows):
    with open(filename, 'w', encoding='utf-8') as file:
        writer = csv.writer(file, delimiter=';')
        writer.writerows(rows)

In [119]:
#Pickle

import pickle
#<bytes>  = pickle.dumps(<object>)
#<object> = pickle.loads(<bytes>)
#Read Object from File

def read_pickle_file(filename):
    with open(filename, 'rb') as file:
        return pickle.load(file)
#Write Object to File

def write_to_pickle_file(filename, an_object):
    with open(filename, 'wb') as file:
        pickle.dump(an_object, file)

# OOP

In [ ]:
#OOP
class Book:
    def __init__(self, title, quantity, author, price):
        self.title = title
        self.quantity = quantity
        self.author = author
        self.price = price

    def __repr__(self):
        return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Price: {self.price}"


book1 = Book('Book 1', 12, 'Author 1', 120)
book2 = Book('Book 2', 18, 'Author 2', 220)
book3 = Book('Book 3', 28, 'Author 3', 320)

print(book1)
print(book2)
print(book3)

Book: Book 1, Quantity: 12, Author: Author 1, Price: 120
Book: Book 2, Quantity: 18, Author: Author 2, Price: 220
Book: Book 3, Quantity: 28, Author: Author 3, Price: 320

In [120]:
import os
import sys


def comeAndGetIt():
    print('False god')


class Player:
    def __init__(self, name, age) -> None:
        self.name = name
        self.age = age

    def attack(self):  # Instance Methods
        print('run')

    def __repr__(self) -> str:  # Dunder or Magic Methods
        return 'Name:' + self.name + ', age:' + str(self.age)

    @staticmethod
    def ageInDAys(num1) -> int: # static method -> called by Player.ageInDAys
        return num1 * 365.25

    @staticmethod
    def example_function():
        print('I\'m a static method!')

    @classmethod
    # Class Methods: Can access limited methods in the class. Can modify class specific details.
    def killIt(cls) -> object:
        return cls('Tom Brady', 45)


if __name__ == '__main__':
    player1 = Player('Deni', 32)
    player2 = Player('Anas', 45)
    player1.attack()
    print(player2)
    print(Player.ageInDAys(28))
    player3 = Player.killIt()
    print(player3)

run
Name:Anas, age:45
10227.0
Name:Tom Brady, age:45

In [121]:
class Cat():
    number0 = 1234
    def __init__(self,number1,number2,number3):
        self.number1 = number1
        self.number2 = number2
        self.number3 = number3
    def meow(self):
        print(f"Meow! My name is {self.number2}")
    def meow1(self,number):
        print(f"Moew! my name is {self.number2} {number}")
    def get(self):
        return self.number0

a = Cat(number1="1",number2="PHN",number3=1996)
a.get()

1234

In [122]:
a.meow()

Meow! My name is PHN

In [123]:
a.meow1(123)

Moew! my name is PHN 123

In [124]:
class Circle():
    pi = 3.14
    def __init__(self,radius = 1):
        self.radius = radius
        self.area = radius * radius * Circle.pi
    def getCircumference(self):
        return self.radius * Circle.pi *2
a = Circle()
a.getCircumference()

6.28

## Encapsulation

In [126]:
# Encapsulation is the process of preventing clients from accessing certain properties,
# which can only be accessed through specific methods.
#Let's introduce a private attribute called __discount in the Book class

class Book:
    def __init__(self, title, quantity, author, price):
        self.title = title
        self.quantity = quantity
        self.author = author
        self.__price = price
        self.__discount = None

    def set_discount(self, discount):
        self.__discount = discount

    def get_price(self):
        if self.__discount:
            return self.__price * (1-self.__discount)
        return self.__price

    def __get(self):
        return 1

    def get(self):
        return self.__get() + 3

    def __repr__(self):
        return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Price: {self.get_price()}"


single_book = Book('Two States', 1, 'Chetan Bhagat', 200)

bulk_books = Book('Two States', 25, 'Chetan Bhagat', 200)
bulk_books.set_discount(0.20)

print(single_book.get_price())
print(bulk_books.get_price())
print(single_book)
print(bulk_books)
print(single_book.get())
print(isinstance(single_book,Book))

200
160.0
Book: Two States, Quantity: 1, Author: Chetan Bhagat, Price: 200
Book: Two States, Quantity: 25, Author: Chetan Bhagat, Price: 160.0
4
True

## Inheritance

In [127]:
#Inheritance is regarded as the most significant characteristics of OOP.
#A class's ability to inherit methods and/or characteristics from another class is known as inheritance.
#The subclass or child class is the class that inherits.
#The superclass or parent class is the class from which methods and/or attributes are inherited.
class Human():
    def __init__(self):
        print("You've made me a human")
    def hurtSomeone(self):
        print("I love hurting someone")
    def speak(self):
        print("I speak some languages")
    def feelSorry(self):
        print("I feel so sorry, my boy!")
a = Human()
a.hurtSomeone()

# Inheritence
class Kipchak():
    def __init__(self):
        super().__init__()
        print("You've made me a Kipchak.")
    def sayKipchak(self):
        print('Saying Kipchak')


# Inheritence
class Kazakh(Human,Kipchak):
    def __init__(self):
        Human.__init__(self)
        Kipchak.__init__(self)
        print("You've made me a Kazakh.")
    def playDombra(self):
        print('Playing Dombra')

k = Kazakh()
k.hurtSomeone()
k.speak()
k.playDombra()
k.sayKipchak()
print(Kazakh.__mro__)

import math
class Shape:
    def __init__(self, color):
        self.__color = color
    def get_color(self):
        return self.__color
    def set_color(self, color):
        self.__color = color

class Rectangle(Shape):
    def __init__(self, color, length):
        super().__init__(color)
        self.__length = length
    def get_length(self):
        return self.__length
    def set_length(self, length):
        self.__length = length

You've made me a human
I love hurting someone
You've made me a human
You've made me a Kipchak.
You've made me a Kazakh.
I love hurting someone
I speak some languages
Playing Dombra
Saying Kipchak
(<class '__main__.Kazakh'>, <class '__main__.Human'>, <class '__main__.Kipchak'>, <class 'object'>)

## Polymorphism

In [130]:
# Polymorphism

#The term 'polymorphism' comes from the Greek language and means 'something that takes on multiple forms.'
#Polymorphism refers to a subclass's ability to adapt a method that already exists
#in its superclass to meet its needs.
#To put it another way, a subclass can use a method from its superclass as is or modify it as needed.
class Animal():
    def __init__(self,name):
        self.name = name
    def run(self):
      print('Run!')
    def speak(self):
        raise NotImplementedError("You have to add it!")

class Dog(Animal):
    def speak(self):
        print(self.name + " Bark!Bark!")

class Cat(Animal):
    def speak(self):
        print(self.name + " Meow!Meow!")

a = Dog("Mike")
a.speak()
a.run()
a = Cat("India")
a.speak()
a.run()

Mike Bark!Bark!
Run!
India Meow!Meow!
Run!

##Abstraction

In [ ]:
#Abstraction isn't supported directly in Python.
#Calling a magic method, on the other hand, allows for abstraction.
#If an abstract method is declared in a superclass, subclasses that inherit from the superclass
#must have their own implementation of the method.

from abc import ABC, abstractmethod

class Book(ABC):
    def __init__(self, title):
        self.title = title

    @abstractmethod
    def __repr__(self):
        pass


class Novel(Book):
    def __init__(self, title):
        super().__init__(title)
        self.isNovel = True
    def __repr__(self):
        return f'Novel Book Name : {self.title}'

a = Novel('To kill a mockingbird')
print(a)

Novel Book Name : To kill a mockingbird

In [132]:
#Method Overriding
#When a method with the same name and arguments is used in both
#a derived class and a base or super class, we say that the derived class method "overrides"
#the method provided in the base class

class ParentClass:
    def call_me(self):
        print("I am parent class")


class ChildClass(ParentClass):
    def call_me(self):
        super().call_me()
        print("I am child class")

pobj = ParentClass()
pobj.call_me()

cobj = ChildClass()
cobj.call_me()

I am parent class
I am parent class
I am child class

## Magic or Dunder Methods

In [135]:
class Sample():
    def __init__(self,name,length,weight):
        self.name = name
        self.length = length
        self.weight = weight
    def __str__(self):
        return "{}. His weight is {},{}.".format(self.name,self.weight,self.length)
    def __repr__(self):
        return "Sample({},{},{})".format(self.name,self.length,self.weight)
    def __len__(self):
        return self.length
    def __del__(self):
        return print("This is a del.")
a = Sample("Nurlyssultan",180,94)
print(a)

Nurlyssultan. His weight is 94,180.
This is a del.

# Math

In [136]:
import math
pi = math.pi
print(pi)
print(round(pi))
print(math.ceil(pi))
print(math.floor(pi))
print(math.sqrt(123))
print(abs(-4))
print(pow(pi,2))
print(max([1,2,3,4,56]))

3.141592653589793
3
4
3
11.090536506409418
4
9.869604401089358
56

In [ ]:

def mult_by_five(x):
    return 5 * x

def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)

def squared_call(fn, arg):
    """Call fn on the result of calling fn on arg"""
    return fn(fn(arg))

print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1),
    sep='\n', # '\n' is the newline character - it starts a new line
)

5
25

In [ ]:
# __name__ == '__main__'
# python interpreter sets "special variables", one of which is __name__
# python will assign the __name__ variable a value of '__main__' if it's the initial module being run

#if __name__ == '__main__':

#The global variable, __name__, in the module that is the entry point to your program, is '__main__'.
#Otherwise, it's the name you import the module by.
#So, code under the if block will only run if the module is the entry point to your program.
#It allows the code in the module to be importable by other modules, without executing the code block beneath on import.
print(__name__)

__main__